<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVT_D15CP.Properties.Settings.QLVTViewsConnectionString"
            connectionString="Data Source=NQAC-PC\NQAC;Initial Catalog=QLVT;Integrated Security=True"
             providerName="System.Data.SqlClient" />
        <add name="QLVT_D15CP.Properties.Settings.QLVTDataConnectionString"
            connectionString="Data Source=NQAC-PC\NQAC_01;Initial Catalog=QLVT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>